

<center>

<h1><%= @game.player_2.name%> has been attacked</h1>
<h2><%= @game.player_2.name%>: <%= @game.player_2.hit_points %>HP</h2>


<h2><%= @game.player_1.name%>: <%= @game.player_1.hit_points %>HP</h2>
<br>


<h3><%=@game.current_turn.name %>'s turn</h3>

<br>
<a href="/attack">Attack</a>

<br>

<img src= "https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7c125a54-0a1e-46f2-9da3-39e0b8bba609/db4ir36-3b45b0a9-b089-4407-ae0b-23e0871bc74e.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzdjMTI1YTU0LTBhMWUtNDZmMi05ZGEzLTM5ZTBiOGJiYTYwOVwvZGI0aXIzNi0zYjQ1YjBhOS1iMDg5LTQ0MDctYWUwYi0yM2UwODcxYmM3NGUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.r06mKDOEQyb2AUGVuqrMJ1_SwKPMpJ8jtwp_72eKoH8" width="500" height="460">


</center>