<center>

<h1><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h1>
<br>
<br>
<h2><%= @game.player_1.name%>: 60 HP </h2>
<h2><%= @game.player_2.name%>: 60 HP </h2>
<br>

<%= @game.current_turn.name %>'s turn

<a href="/attack">Attack</a>


</center>