<center>

<h1><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h1>
<br>
<br>
<h2><%= @game.player_1.name%>: 60 HP </h2>
<h2><%= @game.player_2.name%>: 60 HP </h2>
<br>

<h3><%= @game.current_turn.name %>'s turn</h3>

<a href="/attack">Attack</a>

<br>

<img src= "https://s.abcnews.com/images/Technology/HT_bowser_jef_150520_16x9_992.jpg" width="750" height="442">


</center>